$btnGradientColor: linear-gradient(to right, #ed893e , #f0660b);

.main-page__button {
  display: flex;
  margin: 0 10px;
  align-items: center;

    p, span {
      color: white;
      font-weight: 500;
    }

    p {
      margin-top: 10px;
    }

    span {
      margin-left: 5px;
      font-size: 30px;
    }

    a {
      font-size: 18px;
      font-weight: 600;
      padding: 6px 24px;
      border: none;
      color: white;
      border-radius: 5px;
      background-image: $btnGradientColor;
      margin-left: 2rem;
      transition: all 0.2s ease-in;
      text-decoration: none;

    &:hover {
      cursor: pointer;
      filter: saturate(2.5);
    }
  }
}
