.main-page__categories {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;

  svg {
    font-size: 28px;
    color: #333;
  }

  .main-page__category {
    margin-top: 10px;
    background-color: #eee;
    width: 150px;
    height: 120px;
    text-align: center;
    border-radius: 10px;
    padding: 2rem;

    &.focused {
      background-color: #e67924;
      p, svg {
        color: white;
      }
    }

    p {
      display: flex;
      justify-content: center;
      width: 100%;
      white-space: nowrap;
    }

    &:hover {
      cursor: pointer;
      background-color: #e67924;
      p, svg {
        color: white;
      }
    }


  }
}
