.main-page__content__input-category {
	display: none;

	label {
		font-weight: 600;
	}

	select {
		margin-left: 10px;
		outline: none;
		width: 150px;
	}
}

@media (max-width: 480px) {
	.main-page__content__input-category {
		display: flex;
		justify-content: center;
		margin-top: 1.5rem;
	}
}
