.main-page__content__categories {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;

	svg {
		color: #333;
		font-size: 26px;
	}

	.main-page__content__category {
		background-color: #f6f6f6;
		border-radius: 10px;
		height: 100px;
		margin-top: 10px;
		padding: 1.5rem;
		text-align: center;
		transition: all 0.2s ease-in;
		width: 140px;

		&.focused {
			background-color: #e67924;

			p,
			svg {
				color: #fff;
			}

			&:hover {
				p,
				svg {
					color: #fff;
				}
			}
		}

		p {
			display: flex;
			justify-content: center;
			white-space: nowrap;
			width: 100%;
		}

		&:hover {
			cursor: pointer;
			transform: scale(1.1);

			p,
			svg {
				color: #e67924;
			}
		}
	}
}


@media (max-width: 1200px) {
	.main-page__categories {
		gap: 10px;

		svg {
			font-size: 20px;
		}

		.main-page__content__category {
			height: 90px;
			padding: 1rem;
			width: 100px;

			p {
				white-space: normal;
			}
		}
	}
}

@media (max-width: 480px) {
	.main-page__content__categories {
		display: none;
	}
}
