.main-page__categories {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;

  svg {
    font-size: 26px;
    color: #333;
  }

  .main-page__category {
    margin-top: 10px;
    background-color: #f6f6f6;
    width: 140px;
    height: 100px;
    text-align: center;
    border-radius: 10px;
    padding: 1.5rem;
    transition: all 0.2s ease-in;

    &.focused {
      background-color: #e67924;

      p, svg {
        color: white;
      }
      &:hover {
        p, svg {
          color: white;
        }
      }
    }

    p {
      display: flex;
      justify-content: center;
      width: 100%;
      white-space: nowrap;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      p, svg {
        color: #e67924;
      }
    }
  }
}


@media (max-width: 1200px) {
  .main-page__categories {
    gap: 10px;

    svg {
      font-size: 20px;
    }

    .main-page__category {
      width: 100px;
      height: 90px;
      padding: 1rem;

      p {
        white-space: normal;
      }
  }
}
}

@media (max-width: 480px) {
  .main-page__categories {
    display: none;
  }
}
