.main-page-detail__content__carousel-item {

	border: 0.5px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 9px 0 0 rgba(0, 0, 0, 0.2), 0 -9px 0 0 rgba(0, 0, 0, 0.2),
		12px 0 15px -4px rgba(0, 0, 0, 0.2), -12px 0 15px -4px rgba(0, 0, 0, 0.2);
	margin: auto;
	padding: 20px;
	width: 500px;

	p {
		color: #f0660b;
		display: flex;
		justify-content: center;
	}

	img {
		display: flex;
		height: 200px;
		margin: auto;
		width: 400px;
	}
}

@media (max-width: 1200px) {
	.main-page-detail__content__carousel-item {
		height: 100%;
		width: 300px;

		img {
			display: flex;
			height: 150px;
			margin: auto;
			width: 200px;
		}
	}
}
