$headerLine: #e67924;
$headerBackground: linear-gradient(to right, #004f7c, #000518);

header {
	background: $headerBackground;
	display: flex;
	height: 100%;
	padding: 20px 100px;
	width: 100%;

	.main-page__header__content__carousel-item {
		display: flex;
		flex-direction: column;
		gap: 1.8rem;


		.main-page__header__content__banner {
			align-items: center;
			display: flex;

			img {
				width: 180px;
			}

			h1 {
				color: #fff;
				font-weight: 400;
				margin-left: 1rem;
			}
		}

		.main-page__header__content__banner__info {
			display: flex;

			p {
				color: #fff;
				font-size: 20px;
				max-width: 36.5rem;
			}
		}
	}

}

.main-page__header__line {
	background-color: $headerLine;
	height: 8px;
}


@media (max-width: 1200px) {
	header {
		padding: 20px 100px;

		.main-page__header__content__carousel {
			gap: 0.8rem;

			.main-page__header__content__banner {
				img {
					width: 120px;
				}

				h1 {
					font-size: 24px;
				}
			}

			.main-page__header__content__banner__info {
				p {
					font-size: 16px;
					max-width: 35.5rem;
				}
			}
		}
	}
}

@media (max-width: 480px) {
	header {
		padding: 20px;

		.main-page__header__content__carousel {
			gap: 1rem;

			.main-page__header__content__banner {
				img {
					width: 120px;
				}

				h1 {
					font-size: 22px;
				}
			}

			.main-page__header__content__banner__info {
				p {
					font-size: 14px;
					max-width: 30.5rem;
				}
			}
		}
	}
}
