$headerLine: #e67924;
$headerBackground: linear-gradient(to right, #004f7c, #000518);

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30vh;
  padding: 20px 100px;
  background-image: $headerBackground;

  .main-page__header__content__carousel {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;

    .main-page__header__content__banner {
      display: flex;
      align-items: center;
      img  {
        width: 180px;
      }

      h1 {
        color: white;
        font-weight: 400;
        margin-left: 1rem;
      }
    }

    .main-page__header__content__banner__info {
      display: flex;
      p {
        max-width: 36.5rem;
        color: white;
        font-size: 18px;
      }
    }
  }

}
.main-page__header__line {
  height: 8px;
  background-color: $headerLine;
}
