.main-page__input {
  margin-top: 2rem;
  margin-left: 1.5rem;

  label {
    font-weight: 600;
  }

  select {
    margin-left: 10px;
    width: 150px;
    outline: none;
  }
}

@media (max-width: 480px) {
  .main-page__input {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    margin-left: 0;
}
}
