.main-page__content__input {
	margin-left: 1.5rem;
	margin-top: 2rem;

	label {
		font-weight: 600;
	}

	select {
		margin-left: 10px;
		outline: none;
		width: 150px;
	}
}

@media (max-width: 480px) {
	.main-page__input {
		display: flex;
		justify-content: center;
		margin-left: 0;
		margin-top: 1.5rem;
	}
}
