$btnGradientColor: linear-gradient(to right, #ed893e , #f0660b);


.main-page__services {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;

  .main-page__service-card {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    width: 20rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0.8px 0.8px rgb(0 0 0 / 2%), 0 2.4px 2.4px rgb(0 0 0 / 3%),
    0 4.5px 4.5px rgb(0 0 0 / 4%), 0 6.2px 6.2px rgb(0 0 0 / 5%),
    0 9.3px 9.3px rgb(0 0 0 / 6%), 0 18px 18px rgb(0 0 0 / 7%),
    0 21px 21px rgb(0 0 0 / 9%);
    border-radius: 5px;
    border: 0.2px solid rgba(0, 0, 0, 0.2);

    .main-page__service-card__info {
      margin: auto;

      svg {
        color: #e67924;
        font-size: 32px;
      }

      h3 {
        font-weight: 500;
        margin-top: 10px;
      }

      p {
        padding: 10px 40px;
        text-align: center;
        line-height: 1.4rem;
        color: #888;
      }
    }

    .main-page__service-card__info__button {
      display: flex;
      justify-content: space-between;
      padding: 15px 20px;
      background-image: $btnGradientColor;
      margin-top: auto;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border: none;
      text-decoration: none;

      p {
        color: white;
        font-size: 20px;
        font-weight: 600;
      }

      &:hover {
        cursor: pointer;
        filter: saturate(1.8);
      }
    }
  }
}


@media (max-width: 480px) {
  .main-page__services {
    gap: 0;
  }
}
